
<h2></h2>
<form method="POST" action="/celebs/celebrities/create">
    <input name="name" type="text">
    <input name="occupation" type="text">
    <input name="catchPhrase" type="text">
    <button type="submit">Submit</button>

</form>